*{
	margin: 0;
	background: #242629;
}

.contenedor-iniciar-sesion{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 800px;
	background: #11101D;
	margin: auto;
	margin-top: 3%;
	border-radius: 5px;
	padding: 25px;

}

.label-1{
	background: none;
	font-size: 38px;
	color: white;
	margin-left: 30%;
}

.contenedor-input1{
	display: flex;
	background: none;
	margin-top: 5%;
	border: 1px solid #94a1b2;
	background: none;
	color: #94a1b2;
	border-radius: 5px;
	width: 100%;
	height: 40%;
	font-size: 20px;
}

.contenedor-input2{
	display: flex;
	background: none;
	margin-top: 5%;
	background: none;
	border: 1px solid #94a1b2;
	background: none;
	color: #94a1b2;
	border-radius: 5px;
	width: 100%;
	height: 40%;
	font-size: 20px;
}

.icon{
	background: none;
	font-size: 20px;
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 10px;
}

.input{
	width: 100%;
	height: 99%;
	margin-left: 0%;
	background: none;
	border: none;
	font-size: 15px;
}

.input.pri{
	width: 100%;
	height: 99%;
	margin-left: 0%;
	background: none;
	border-radius: none;
	text-decoration: none;
}

.contenedor-button{
		display: flex;
		background: none;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 18px;
    background: #1C3DBA;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8%;
		margin-left: 3%
}

.button:hover{
    background: #0B299B;
    transition: all 0.2s ease-out;
}

.button2{
    border: none;
    width: 100%;
    color: white;
    font-size: 18px;
    background: #1C3DBA;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8%;
}

.button2:hover{
    background: #0B299B;
    transition: all 0.2s ease-out;
}


.label-2{
	background: none;
	font-size: 20px;
	color: #94a1b2;
}

.label-3{
	background: none;
	font-size: 20px;
	margin-left: 1%;
	color: #1C3DBA;
	text-decoration: none;
}

.label-3:hover{
	color: #0B299B;
}

select{
	color: #94a1b2;
	height: 100%;
}
