
*{
	margin: none;
}

main{
	margin-left: 10%;
}
h1{
	color: white;
}

.granContenedor {
	display: inline-grid;
	grid-template-columns: 1fr 54em;
	height: 100vh;
	padding: 10px;
    padding-left: 10%;
}

.contenedor-padre{
	width: 95.5%;
	height: 100%;
	border: 1px solid #242629;
	background: #242629;
	padding: 10px;
}

.desc{
	width: 100%;
}

.label-1{
	font-size: 20px;
	color: white;
}
.texto{
	color: white;
	text-align: justify;
}


.contenedor-hijo{
	display: flex;

}

.desc{
	margin-top: 10px;
}

.desc-2{
	margin-left: 5px;
}

.contenedor-img{
	width: 50%;
	height: 100%;
	padding: 5px;
}

.contenedor-img-2{
	width: 100%;
	padding: 5px;
}

.img-1{
	width: 100%;

}

.contenedor-seg{
	display: flex;
}