<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="../css/barra_izquierda.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<main>
	<!--
	<div class="contenedor-padre">

		<div class="desc">
			<label class="label-3">Harry Houdini</label>
			<label class="label-1"><b>Nombre Real:</b> Harry Houdini</label>
			<label class="label-2"><b>Nombre de Usuario:</b> Harry El Magic</label>
			<label class="label-2"><b>Mail:</b> HarryHoudini@gmail.com</label>
			<label class="label-2"><b>Libros leidos:</b> Los Mejores Trucos De Magia</label>
			<label class="label-2"><b>Tutoriales Vistos:</b> Naipe troll - TRUCO YAGUAR</label>

      <input type="submit" name="enviar" value="Cambiar Foto" class="button">
		</div>

		<div class="cuadrado-foto">
			<div class="contenedor-foto">
				<img class="img" src="../img/mago.png">
			</div>
		</div>

	</div>
-->

    <div class="contenedor-padre-2">

      <div class="contenedor-fondo-foto">

        <div class="contenedor-foto">
          <img class="img-perfil" src="../img/john-scarne_1.jpg">
        </div>

        <div class="contenedor-fondo">

        </div>

      </div>

      <div class="contenedor-editar">

      <div class="contenedor-desc-2">
        <label class="label-4"><b>Harry Houdini</b></label>
        <label class="label-1"><b>Nombre Real:</b> Harry Houdini</label>
        <label class="label-2"><b>Nombre de Usuario:</b> Harry El Magic</label>
        <label class="label-2"><b>Experiencia:</b> Mago Avanzado</label>
        <label class="label-2"><b>Mail:</b> HarryHoudini@gmail.com</label>
				<label class="label-2"><b>Experiencia:</b> Mago Avanzado</label>
        <label class="label-2"><b>Mail:</b> HarryHoudini@gmail.com</label>
      </div>

      <div class="contenedor-label">
        <label class="label-5">Editar</label>
      </div>

      </div>

      <div class="contenedor-boton">
        <input type="submit" name="enviar" value="Cambiar Foto" class="button">
        <input type="submit" name="enviar" value="Cambiar Fondo" class="button-2">
      </div>

    </div>


  </main>
<div class="sidebar"><!--Barra-->

    <div class="logo-details"><!--Titulo-->
        <div class="logo_name">Bienvenido</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">

      <li><!--Perfil-->
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Perfil</span>
       </a>
       <span class="tooltip">Perfil</span>
     </li>

     <li><!--Libros-->
       <a href="../views/libros.html">
        <i class='bx bx-book-bookmark'></i>
         <span class="links_name">Libros</span>
       </a>
       <span class="tooltip">Libros</span>
     </li>

     <li><!--Historia-->
       <a href="../views/Inicio.php">
        <i class='bx bx-archive'></i>
         <span class="links_name">Historia </span>
       </a>
       <span class="tooltip">Historia</span>
     </li>

     <li><!--SW Erdnase-->
       <a href="#">
        <i class='bx bx-question-mark'></i>
         <span class="links_name">SW Erdnase</span>
       </a>
       <span class="tooltip">SW Erdnase</span>
     </li>

     <li><!--Foro-->
       <a href="#">
        <i class='bx bx-conversation'></i>
         <span class="links_name">Foro</span>
       </a>
       <span class="tooltip">Foro</span>
     </li>

     <li><!--Tutoriales-->
       <a href="#">
        <i class='bx bx-video'></i>
         <span class="links_name">Tutoriales</span>
       </a>
       <span class="tooltip">Tutoriales</span>
     </li>

     <li class="profile"><!--Avatar-->
         <div class="profile-details">
           <img src="../img/avatar.png" alt="profileImg">
           <div class="name_job">
            <div class="name">Usuario 1</div>
           </div>
           <a href="/php/iniciar_sesion.php">
            <i class='bx bx-log-out' id="log_out" ></i>
          </a>
         </div>
     </li>

    </ul>

</div>

  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  searchBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
   }
  }
  </script>
</body>
</html>
