*{
    padding: 0%;
    margin: 0%;
}
.grid-container{
    /*Grid*/
    display: grid;
    width: 100%;
    height: 100%;

    /*Dimensiones de las filas y columnas del grid*/
    grid-template-columns: 36.5% auto 36.5%;
    grid-template-rows: 11.5% auto 11.5%;

    /*Otros*/
    background-color: #242629;
    z-index: 1;
}
.registro-relleno{
    /*Demás casillas del grid*/
    background-color: transparent;
    border: none;
}
#registro{
    /*Como se despliegan los elementos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*Color del contenedor*/
    background-color: #16161a;

    /*Otros*/
    border-radius: 4px;
    z-index: 2;
}
#registro div{
    /*Dimensiones del div que contiene los elementos*/
    width: 58%;
    height: 90%;
}
#registro h1{
    /*Color del texto*/
    color: #fffffe;

    /*Tamaño, grosor y tipo de fuente del texto*/
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 3vw;

    /*Otros*/
    margin-top: 10%;
    margin-bottom: 4%;
    z-index: 3;
    user-select: none;
}
#registro p{
    /*Color del texto*/
    color: #94a1b2;

    /*Tamaño, grosor y tipo de fuente del texto*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.15vw;

    /*Otros*/
    z-index: 3;
    user-select: none;
}
#registro a{
    /*Color del texto*/
    color: #7f5af0;

    /*Tamaño, grosor y tipo de fuente del texto*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3vw;

    /*Otros*/
    text-decoration: none;
    user-select: none;
    z-index: 3;
}
#registro a:hover{
    text-decoration: underline;
    color: #8765F0;
}
#registro a:active{
    text-decoration: none;
    color: #7f5af0;
}
#registro .input{
    /*Dimensiones de los inputs*/
    width: 100%;
    height: 6.25%;

    /*Bordes y colores*/
    background-color: transparent;
    border: solid 1px #94a1b2;
    border-radius: 4px;

    /*Color del texto*/
    color: #94a1b2;

    /*Tamaño, grosor y tipo de fuente del texto*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.15vw;

    /*Otros*/
    z-index: 3;
    margin-bottom: 5%;
    outline: none;
    text-indent: 5%;
}
#registro input[type="button"]{
    /*Dimensiones del boton*/
    width: 100%;
    height: 8%;

    /*Colores*/
    background-color: #7f5af0;
    color: #fffffe;

    /*Bordes*/
    border: 1px solid transparent;
    border-radius: 4px;

    /*Tamaño, grosor y tipo de fuente del texto*/
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.3vw;

    /*Otros*/
    margin-top: 7%;
    margin-bottom: 4%;
    z-index: 3;
    cursor: pointer;

}
#registro input[type="button"]:hover{
    background-color: #8765F0;
}
#registro input[type="button"]:active{
    background-color: #7f5af0;
}