<html>
    <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>||Experto en la mesa de juego</title>
    </head>
    <body>
    	

    	{{{body}}}

    	
    </body>
</html>