*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    background-color: hsl(212,15%,22%);
    justify-content: center;

    z-index: 1;
}
.formulario{
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;

    background-color: hsl(212,15%,25%);
    border-radius: 1%;
}
#titulo{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7vw;
}
#titulo > h1{
    z-index: 3;
    color: hsl(0,0%,93%);
}

#cuenta{
    width: 100%;
    height: auto;
    color: hsl(0,0%,93%);

    display: flex;
    justify-content: center; 
}
#cuenta > p{
    font-size: 1.25vw;
}
#cuenta > p > a{
    text-decoration: none;
    color: hsl(183,100%,35%);
    font-weight: 600;
    font-size: 1.5vw;
}
